#ContactCard {
	width: fit-content;
	padding: 2rem;
}

#Contact {
	background-color: var(--primary-green);
}

.wave-background-container.contact {
	width: 100vw;
	height: 100px;
	position: absolute;
	bottom: 0;
}

.contact-icon {
	fill: none;
	stroke: none;
	transition: stroke 250ms;
	stroke: var(--primary-blue);
}

.contact-icon:hover {
	stroke: var(--primary-green);
}

.contact-container {
	/* display: flex;
	flex-direction: row; */

	width: 34rem;
	/* display: grid;
	grid-template-columns: 40% 60%; */
}

.ContactHeader {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#contact-form {
	display: flex;
	flex-direction: column;
}

#contact-submit {
	margin-top: 0.5rem;
	align-self: center;
	width: 8rem;
	/* align-items: center; */
}

#contact-info-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#contact-info {
	font-family: var(--header-font);
	/* font-variant: small-caps; */
	width: 5rem;
	font-weight: bold;
	font-style: normal;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

#contact-info > a {
	transition: transform 250ms;
}

#contact-info > a:hover {
	transform: scale(120%);
}

#contact-text-area-container {
	align-self: center;
	align-items: flex-end;
	width: 100%;
	height: 11rem;
	margin: 0;
}

#contact-text-area {
	width: fit-content;
	height: 100%;
	width: 16rem;
}

#contact-text-column {
	align-content: space-between;
}

@media only screen and (max-width: 1024px) {
	#ContactCard {
		width: calc(90vw - 4rem);
		max-width: 30rem;
	}

	.TextInput > input {
		width: 8rem;
		margin-left: 0.25rem;
		margin-right: 0.25rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#contact-text-area-container {
		flex-direction: row;
		width: fit-content;
	}

	#contact-text-area {
		/* width: calc(100% - 4rem); */
		max-width: 24rem;
	}

	#contact-text-column {
		justify-content: space-around;
		display: flex;
		flex-direction: row;
	}

	.ContactHeader {
		grid-template-columns: 80% 20%;
	}

	.contact-container {
		width: calc(90vw - 4rem);
		max-width: 30rem;
	}
	#contact-text-area-container > .TextInput {
		width: 100%;
	}
}
