#Homepage {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--white);
}

@media only screen and (min-width: 1024px) {
	#Homepage {
		max-height: 100vh;
		overflow-y: hidden;
		overflow-x: hidden;
	}
}
