.Homepage {
	width: 100vw;
	min-height: 100vh;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: var(--dark); */
}

@media only screen and (min-width: 1024px) {
	.Homepage {
		/* max-height: 100vh; */
		/* overflow-y: hidden; */
		overflow-x: hidden;
	}
}
