.Footer {
	width: 80vw;
	background-color: var(--transparent);
	backdrop-filter: blur(2rem);
	padding: 1rem 10vw 0rem 10vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.Link {
	color: var(--contrast);
}

.Text {
	color: var(--white);
	/* font-weight: bold; */
	padding-bottom: 1rem;
}

@media only screen and (max-width: 1023px) {
	.Footer {
		width: 90vw;
		padding: 1rem 5vw 0rem 5vw;
		flex-direction: column;
		align-items: flex-start;
	}
}
