.Contact {
	border-radius: 4px;
	background-color: var(--transparent);
	width: 50vw;
	max-width: 42rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 2rem;
	backdrop-filter: blur(0.5rem);
	border: 1px solid var(--dark);
	outline: 2px solid var(--dark);
	outline-offset: 4px;
}

.HeaderContainer {
	width: 100%;
	align-self: flex-start;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.Header {
	color: var(--white);
}

.Title {
	margin: 0;
}
.Subtitle {
	font-size: var(--h5);
	color: var(--contrast);
	font-weight: bold;
}

.ContactInfo {
	display: flex;
	flex-direction: column;
}

.Icon {
	fill: none;
	stroke: none;
	transition: stroke 250ms;
	stroke: var(--contrast);

	max-height: 1.7rem;
	max-width: 2rem;
	transition: transform 250ms;
}

.Icon:hover,
.Icon:focus {
	transform: scale(1.2);
}

.Form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.FormContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.TextContainer {
}

.TextInput {
	color: var(--dark);
}

.TextArea {
	color: var(--dark);
}

@media only screen and (min-width: 1024px) {
	.FormContainer {
		flex-direction: row;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 1023px) {
	.Contact {
		width: 80vw;
		max-width: 20rem;
		max-height: 75vh;
		height: fit-content;
		padding: 1rem;
		justify-content: space-between;
	}

	.Header {
		text-align: center;
		padding-bottom: 0.5rem;
	}
	.Icon {
		max-height: 1.5rem;
		max-width: 1.7rem;
	}

	.HeaderContainer {
		padding-top: 0.5rem;
		align-items: center;
		flex-direction: column;
	}

	.ContactInfo {
		width: 4.5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.FormContainer {
		margin-top: 2rem;
		flex-direction: column;
	}
	.TextArea {
		margin-bottom: 1rem;
	}
}
