.ResultsHeading {
	z-index: 5;
	transition: width 1000ms;
	overflow-x: hidden;
	margin: 0;
	color: var(--white);
	display: flex;
	flex-direction: row;
	width: auto;
}

#Results {
	background-color: var(--contrast-blue);
	padding: 5rem 20vw 4rem 20vw;
	width: 60vw;
	height: calc(100vh - 9rem);
	justify-content: space-between;
}

#Results > h2 {
	z-index: 5;
}

.results-grid {
	display: flex;
	flex-direction: column;
	width: 100vw;
	z-index: 5;
}

.Result {
	position: relative;
	text-align: center;
	justify-content: center;
	padding: 1rem;
	height: calc(100% - 4rem);
	width: calc(100vw - 6rem);
	font-size: 1.2rem;
}

.result-highlight {
	font-family: var(--header-font);
	font-weight: bold;
	font-size: 1.25rem;
}

.Result.one {
	z-index: 5;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-right: 2rem;

	align-self: flex-end;
	background-color: var(--primary-green);

	box-shadow: -0.5rem 0.5rem 1rem -0.9rem black;
}

.Result.two {
	z-index: 4;
	padding-left: 2rem;
	top: -1rem;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0.5rem -0.5rem 1rem -0.9rem black;
	background-color: var(--contrast-blue);
}
.Result.three {
	z-index: 3;
	top: -2rem;
	padding-right: 2rem;

	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	align-self: flex-end;
	box-shadow: -0.5rem 0.5rem 1rem -0.9rem black;

	background-color: var(--primary-blue);
}
.Result.four {
	z-index: 2;
	top: -1rem;

	background-color: var(--light-blue);
	border-bottom-right-radius: 60px;
}

#ResultsCard {
	z-index: 10;
	width: 60vw;
	height: 40vh;
	border-radius: 20px;
	padding: 2rem;
	display: flex;
	align-items: center;
	/* backdrop-filter: blur(5px);
	background-color: var(--transparent-white); */

	overflow: hidden;
}

#ResultsCard > .result-card-row {
	position: relative;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	transition: transform 500ms ease-in-out;
	color: var(--white);
	font-weight: bold;
}

.result-card-row > .result-text {
	padding: 2rem;
	font-family: var(--header-font);
	font-size: 1.2rem;
}

.result-card-row.r1 {
	transform: translateX(-100%);
}

.result-card-row.r2 {
	transform: translateX(-200%);
}

.result-card-row.r3 {
	transform: translateX(-300%);
}

.result-card-container {
	z-index: 20;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*=== client list===*/

#ClientList {
	z-index: 10;
	width: 100vw;
	height: calc(10vw + 2rem);
	max-height: calc(128px + 2rem);

	padding: 2rem;
	position: relative;
	overflow: hidden;

	background-color: var(--transparent-white);
	backdrop-filter: blur(5px);
}

.client-logo {
	padding: 1rem;
	z-index: 10;
	width: 10vw;
	min-width: 64px;
	max-width: 128px;
}

/* even out the elements */
.marquee {
	z-index: 10;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.client-marquee {
	height: 100%;
}

.marquee-text {
	margin-top: 0;
	margin-left: 1rem;
	font-variant: small-caps;
	font-family: var(--header-font);
	font-weight: bold;
	color: var(--primary-blue);
}

@media only screen and (min-width: 1025px) {
	#ResultsCard {
		max-width: 40rem;
	}
}

@media only screen and (max-width: 1024px) {
	#Results {
		width: 90vw;
		height: calc(100vh - 7rem);
		padding: 5rem 5vw 2rem 5vw;
	}

	#ResultsCard {
		padding: 2vw;
		width: 80vw;
	}

	.result-text > p {
		padding-left: 2vw;
		padding-right: 2vw;
	}

	.result-card-row > .result-text {
		padding: 2vw;
		width: 75vw;
	}

	.client-logo {
		padding: 2vw;
	}

	#ClientList {
		height: calc(10vw + 4vw);
		min-height: calc(64px + 4vw);
		padding: 2vw;
		/* height: 10vw; */
	}
}
