#Main {
	background-color: var(--white);
}

#Hero {
	padding-left: 20vw;
	padding-right: 20vw;
	width: 60vw;
	height: 50vh;
}

.wave-background-container.main {
	width: 100vw;
	height: 16rem;
	position: absolute;
	bottom: 0;
	pointer-events: none;
}

#learn-more-button-container {
	display: flex;
	position: absolute;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	bottom: 3rem;
}

#learn-more-button-container.mobile {
	bottom: 5rem;
}

#MainCards {
	padding-left: 10vw;
	padding-right: 10vw;
	width: 80vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.MainCard {
	font-family: var(--header-font);
	height: 15rem;

	font-size: 1.2rem;
	color: var(--white);
	font-weight: bold;
	bottom: 2rem;
	border-radius: 10px;
	width: 18vw;
	padding: 2rem;
	position: relative;
	bottom: -5vh;
	transition: bottom 250ms;
}

.MainCard.open {
	bottom: 64vh;
}

.MainCard.locked {
	bottom: 66vh;
}

/* .MainCard.locked.three {
	transform: translateY(-64vh);
}

.MainCard.locked.two {
	transform: translateY(-68vh);
}

.MainCard.locked.one {
	transform: translateY(-72vh);
} */

.MainCard.three {
	background-color: var(--primary-green);
	z-index: 3;
}

.MainCard.two {
	background-color: var(--contrast-blue);
	z-index: 5;
}

.MainCard.one {
	background-color: var(--primary-blue);
	z-index: 7;
}

.MainCard.open {
	/* bottom: -10vh; */
}

.MainCard.locked {
	/* bottom: -80vh; */
	z-index: 8;
}

@media only screen and (max-width: 1024px) {
	.wave-background-container.main {
		height: 12rem;
	}
}
