.WaveBackground {
	position: absolute;
	/* min-height: 100vh; */
	height: 100%;
	width: 100vw;
}

.WaveBackground.top {
}

.WaveBackground.bottom.one {
	z-index: 0;

	background-color: var(--primary-blue);
}

.WaveBackground.bottom.two {
	z-index: 0;

	background-color: var(--contrast-blue);
}

.WaveBackground.bottom.three {
	z-index: 0;

	background-color: var(--primary-green);
}

.wave {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
}

.wave.one {
	z-index: 6;
}

.wave.two {
	z-index: 4;
}
.wave.three {
	z-index: 2;
}
