.Footer {
	width: 80vw;
	height: 40vh;
	background-color: var(--dark);
	backdrop-filter: blur(2rem);
	padding: 1rem 10vw 0rem 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.Icon {
	width: 4rem;
	height: 4rem;
}

.Link:hover .LinkIcon,
.Link:focus-visible .LinkIcon {
	transform: scale(1.5);
	fill: var(--contrast);
}

.LinkIcon {
	transition: transform 250ms, fill 250ms;
	width: 2rem;
	height: auto;
	margin: 0.5rem;
}

.Text {
	color: var(--white);
	text-align: center;
	padding-bottom: 1rem;
}

@media only screen and (max-width: 1023px) {
	.Footer {
		width: 90vw;
		padding: 1rem 5vw 0rem 5vw;
	}
}
