.Button {
	cursor: pointer;
	font-family: var(--header-font);
	border: 1px solid var(--contrast);
	outline: 1px solid var(--contrast);
	outline-offset: -1px;
	padding: 0.5rem 0.75rem;
	/* font-size: 1rem; */
	font-weight: bold;
	transition: outline-offset 100ms;
	color: var(--contrast);
	background-color: var(--white);
	height: fit-content;
	width: fit-content;
	border-radius: 4px;
}

.Button:hover,
.Button:focus-visible {
	outline-offset: 4px;
}

@media only screen and (max-width: 1024px) {
	.Button {
		padding: 0.5rem;
		margin-bottom: 1rem;
	}
}
