.Hamburger {
	cursor: pointer;
	border-radius: 0.5rem;
	padding: 0.25rem;
	background-color: transparent;
}

.Hamburger > div {
	transition: opacity 250ms, transform 250ms, background-color 250ms;
	background-color: var(--white);

	width: 1.5rem;
	height: 0.25rem;
	border-radius: 0.25rem;
	margin: 0.25rem;
}

.Hamburger.open > div {
	background-color: var(--contrast);
}

.middle.open {
	opacity: 0;
}

.top.open {
	transform: translateY(0.5rem) rotate(45deg);
}

.bottom.open {
	transform: translateY(-0.5rem) rotate(-45deg);
}
